/* 字體設定的順序 */
body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img {
  /* display: block; */
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

